@import url(josh-comeau-reset.css);

/* personal link */
a:hover, a, a:visited, a:link{
    color: var(--main-color);

}

/* thin */
@font-face {
    font-family: "spotify";
    src: url("./fonts/SpotifyMix-Thin.woff2") format("woff2"),
    url("./fonts/SpotifyMix-Thin.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

/* thin italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-ThinItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-ThinItalic.woff") format("woff");
    font-weight: lighter;
    font-style: italic;
}

/* regular */
@font-face {
    font-family: "spotify";
    src: 
    url("/fonts/SpotifyMix-Regular.woff2") format("woff2"),
    url("/fonts/SpotifyMix-Regular.woff") format("woff");
    font-weight: medium;
    font-style: normal;
}

/* regular italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-RegularItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-RegularItalic.woff") format("woff");
    font-weight: medium;
    font-style: italic;
}

/* bold */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-Bold.woff2") format("woff2"),
    url("/fonts/SpotifyMix-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* bold italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-BoldItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

:root{
    --main-color: #1db954;
    --background-color-1: #121212;
    --background-color-2: #212121; 
    --text-color: #b3b3b3;

    font-family: "spotify", sans-serif;
    color: var(--text-color);

    /* content proportions */
    --inclination: 90deg;


}

body{
    background-color: var(--background-color-1);
}



