@import url(josh-comeau-reset.css);

/* personal link */
a:hover, a, a:visited, a:link{
    color: var(--main-color);

}

/* thin */
@font-face {
    font-family: "spotify";
    src: url("./fonts/SpotifyMix-Thin.woff2") format("woff2"),
    url("./fonts/SpotifyMix-Thin.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

/* thin italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-ThinItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-ThinItalic.woff") format("woff");
    font-weight: lighter;
    font-style: italic;
}

/* regular */
@font-face {
    font-family: "spotify";
    src: 
    url("/fonts/SpotifyMix-Regular.woff2") format("woff2"),
    url("/fonts/SpotifyMix-Regular.woff") format("woff");
    font-weight: medium;
    font-style: normal;
}

/* regular italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-RegularItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-RegularItalic.woff") format("woff");
    font-weight: medium;
    font-style: italic;
}

/* bold */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-Bold.woff2") format("woff2"),
    url("/fonts/SpotifyMix-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* bold italic */
@font-face {
    font-family: "spotify";
    src: url("/fonts/SpotifyMix-BoldItalic.woff2") format("woff2"),
    url("/fonts/SpotifyMix-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

:root{
    --main-color: #1db954;
    --background-color-1: #121212;
    --background-color-2: #212121; 
    --background-color-3:	#b3b3b3;
    --text-color: white;

    --padding-normal: 1rem;
    --padding-large: 2rem;

    --font-size-medium: 1.5rem;
    --font-size-big: 2.5rem;
    --font-size-extra-big: 4rem;

    --input-width: max(17ch);

    font-family: "spotify", sans-serif;
    color: var(--text-color);

    /* content proportions */
    --inclination: 90deg;


}

body{
    background-color: var(--background-color-1);
}

.all, .rigth, .left, .logo, form, .input-1, .input-label, section{
    display: flex;
}

.all{
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.left{
    flex-shrink: 0;
    width: max(40%, 300px);
    background: linear-gradient(45deg, var(--main-color), 10%, var(--background-color-1));
}



.logo{
    background-color: rgba(18,18,18, 30%);
    width: 100%;
    height: fit-content;

    padding: var(--padding-normal);
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    gap: var(--padding-normal);
    
    font-size: var(--font-size-big);
    font-weight: thin;

}

.icon{
    width: 5rem;
    height: 5rem;
    
}

.rigth{
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--padding-large);

    width: max(70%, 40ch);

    align-items: baseline;
    justify-content: center;
    padding: var(--padding-large);
    
    background-color: var(--background-color-1);
}

.heading{
    font-size: var(--font-size-big);
}

form{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-2);
    border-radius: 1rem;
    padding: var(--padding-large);
    gap: var(--padding-large);

    align-items: flex-start;

}   

.form-heading{
    font-size: var(--font-size-medium);
    font-weight: bold
}

section{
    flex-wrap: wrap;
    gap: var(--padding-large);

}

.input-label{
    flex-direction: column;
}

input{
    margin: 0;
    padding: 0;
    width: 20ch;
    background-color: var(--background-color-1);
}


